
@{
    ViewBag.Title = "GoogleCalendar";
}



@*<h2>Google Calendar</h2>*@
<h2>淡江大橋願景館 - Google 行事曆</h2>
<p>
    如您有使用Google行事曆，可於此訂閱(取消)淡江大橋願景館行事曆，日後使用者預約成功資訊將自動新增於您的行事曆清單上。
</p>
<p>
    (如第一次使用將進行Google驗證程序)
</p>

    <a href="~/GoogleCal/Subscribe" class="btn btn-primary btn-lg">訂閱</a>
&nbsp;&nbsp;
    <a href="~/GoogleCal/Unsubscribe" class="btn btn-primary btn-lg">取消</a>
