
@{
    ViewBag.Title = "防疫相關規定";
}

<h2 class="text-center">防疫相關規定</h2>

<div class="container">
    <h4>親愛的 參訪貴賓，您好：</h4>
    <div style="padding-left:30px;padding-right:30px">
        <p>
            淡江大橋願景館（以下簡稱本館）為因應國內新型冠狀病毒防疫升級並配合「COVID-19(武漢肺炎)」防疫新生活運動之政府政策，本館參訪時間及實名制入場等相關規定如下方五點說明。
            另外，為配合中央流行疫情指揮中心，本館將採實名制登記。為了您寶貴的參訪時間，煩請預填下方參訪團體名冊表格，並請於參訪日前三日回傳，以縮短您入館的程序。非常感謝您的配合！
        </p>
        <p>
            ＊本館防疫相關規定：
            <ol>
                <li>本館採團體預約入館，請於參訪日之10-40天前預約。</li>
                <li>開館時間維持每週二至週五 上午9:30-10:30 、下午14:00-15:00，週一及國定假日休館。</li>
                <li>本館已加強公共區域、公廁等處所之清潔消毒；館內入口處提供消毒噴霧；廁所備有洗手乳及肥皂。</li>
                <li>入館參觀者請務必配戴口罩，於門口處配合體溫量測及實名制登錄。 請留意自身健康，如身體不適、發燒，咳嗽等請勿入館並儘速就醫。</li>
                <li>入館實名制登記為配合中央政策，個人資料蒐集將遵循「『COVID-19(武漢肺炎)』防疫新生活運動：實聯制措施指引」。</li>
            </ol>
        </p>
        <p>
            敬祝 事事順心、永保安康！
            淡江大橋願景館 敬上
        </p>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-primary" href="~/Reservation/HealthForm" role="button">下載參訪團體名冊</a>
    <p>
        <h4>填妥後請回傳下列信箱，感謝您的配合！</h4>
        <h4>

            <a href="mailto:djbridgepavilion@gmail.com">djbridgepavilion@gmail.com</a>
        </h4>
    </p>
</div>