@{
    ViewBag.Title = "";
    //Layout = "~/Views/Shared/_LayoutCarousel.cshtml";
}

@section Styles {
    <style>
        
    </style>
}
@*<div class="jumbotron">*@
<div class="">    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">展覽館預約系統(測試中)</h1>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/Suhua/suhua.1.png" alt="slide1">
                        <div class="carousel-caption">
                            <h3>展覽館照片1</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Suhua/suhua.1.png" alt="slide1">
                        <div class="carousel-caption">
                            <h3>展覽館照片2</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/Suhua/suhua.1.png" alt="slide1">
                        <div class="carousel-caption">
                            <h3>展覽館照片3</h3>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">
                    預約須知
                    @*<h2 class="label label-success"></h2>*@
                </div>
                @*<div class="panel-body"></div>*@
                <!-- List group -->
                <ul class="list-group compact">
                    <li class="list-group-item"><span class="label label-default">1</span> 開放未來3~60天內之預約</li>
                    <li class="list-group-item"><span class="label label-default">2</span> 參觀時段區分為上午、下午各一梯次</li>
                    <li class="list-group-item"><span class="label label-default">3</span> 每梯次參觀人數上限30人</li>
                    <li class="list-group-item"><span class="label label-default">4</span> 個人參觀時間為每周五</li>
                    <li class="list-group-item"><span class="label label-default">5</span> 團體參觀時間為每周一~周四(請來電洽詢)</li>
                    <li class="list-group-item"><span class="label label-default">6</span> 國定例假日休館</li>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">        
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <!-- Default panel contents -->                
                <div class="panel-heading text-center">                    
                    <h3><span class="label label-warning">預約參觀注意事項</span></h3>
                    <p class="text-left">歡迎您使用本館參觀預約系統。為了保護您以及本館雙方的權益，請您先詳細閱讀以下預約注意事項並於同意後勾選相關欄位，再進行後續預約步驟。</p>
                </div>
                <textarea class="form-control" rows="8">本系統提供之服務包括：線上預約、預約查詢、取消預約、參觀資訊等。
本系統24小時開放，提供次日起至120天內所有開館日及時段預約參觀服務，且不受理當日預約，若欲當日預約，請電洽03-??????。
為維護其他觀眾之權益，請勿重複預約；大量或多次預約而未到或未取消者，本館將取消其預約資格，且如因該筆預約肇致本館的損害及損失，您同意就本館損害或損失負完全賠償責任。
線上預約區分為個人及團體，單一時段個人預約上限為19人，團體為160人，預約時須依不同之日期、時段、人數及類別進行選擇，請詳實填寫相關基本資料。
預約完成後，系統將自動寄發一預約確認信函至您所提供之電子郵件信箱中，內容包括預約代號等資料。請務必保留並牢記預約代號及相關參觀時間等資料，做為參觀報到、預約查詢及取消預約之依據。個人預約將再收到手機簡訊備留;預約團體者，館方會以電話聯絡確認。
本系統提供預約查詢及個人預約取消之功能，欲修改參觀日期、時段、人數或類型者，須由預約確認信進入取消系統，取消原本預約之資料並重新預約。團體預約者如欲取消，請電洽博物館客服人員。
為維護每一位觀眾的參觀品質及權益，本館擁有拒絕超過預約人數之觀眾及車輛進入本館之權力。
請於參觀前詳閱本館參觀注意事項，並轉知一同參觀之成員。為維護觀眾參觀品質，請遵守本館各項參觀規定，未遵守規定者，本館保留謝絕入館之權力。
本館保留隨時修改注意事項之權力，修改後的條款將公佈於本網站上，不另外個別通知。如果您繼續在本網站進行參觀預約，就表示您已經了解、並同意遵守修改後的約定條款。                    
                </textarea>
            </div>
            <div class="checkbox">
    <label>
      <input type="checkbox" id="cbRead">我已閱讀以上事項並同意參觀須知
    </label>
  </div>
            <p>
                <a class="btn btn-lg btn-primary disabled" href="~/Reservation/Members" id="linkBegin">開始預約 &raquo;</a>
                @*<a class="btn btn-lg btn-warning" href="#">預約記錄查詢</a>*@
            </p>
        </div>        
    </div>
</div>



@section Scripts {
    @*@Scripts.Render("index.js")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000
            })

            $('#cbRead').click(function () {
                //alert($(this).parent().find(':checked').length);
                if ($('#cbRead:checked').length == 1)
                    $('#linkBegin').removeClass('disabled');
                else
                    $('#linkBegin').addClass('disabled');

            });
        });
    </script>
}

